body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.black{
    width: 400px;
    height: 400px;
    background-color: black;
}
.white{
    width: 40px;
    height: 40px;
    background-color: white;
}
.grey{
    padding-top: 30px;
    background-color: grey;
    height: 400px;
    padding-left: 300px;
}
#cc {
    padding-left: 200px;
    padding-top: 40px;
    border: 1px solid black;
    background: white;
    width: 20px;
    height: 7px;
    /* box-sizing: border-box; */
}