/* App.css */

/* Sirf body ke liye background color */
body {
  background-color: rgba(22, 141, 141, 0.407);
  margin: 0;
  padding: 0;
}

.Loading-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;   /* pura screen height */
  
}

button{
  background-color: rgba(0, 255, 162, 0.177);
}

/* Overlay background for loader */
.loader-overlay {
  position: fixed;       /* pura screen cover kare */
  top: 0;
  left: 0;
  width: 100vw;          /* full screen width */
  height: 100vh;         /* full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(240, 10, 10, 0.263); /* halka black transparent overlay */
  z-index: 9999999;         /* sabse upar */
}
